
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #222;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page-wrapper
{
  background:#222;
}
#main-wrapper
{
background-color:#fff;
padding:0px;
margin:0px;
}


#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #fff;
}

#main-menu-links li.active-trail a hover {
  background: #fff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #f5f5f5;
  border-bottom: dotted 1px #ccc;
/*  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #fff 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #fff 100%);*/
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f5f5f5;
  border-color: #ccc;
}

#footer-wrapper {
 border-top: silver 1px dotted;
  background:#222;
  padding-top:10px;
  padding-bottom:10px;
  color:#fff;
}
#footer-wrapper a
{
color:#fff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #000;
}
